body { padding: 0; margin: 0; height: 100%; }
.color-body{
    background-color: #dedede;
   

}
.scroll{
    max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.regtangel{
    background-color: rgb(255, 255, 255);
    height: 600px;
    border-radius: 20px;
    box-shadow: 1px 4px 4px 1px #4d4d4d;
}
.font-sp{
   
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.font{
    
    font-family: 'cursive', cursive;
    font-size: 30px;
}
.btn-style{
    width: 200px;
    font-size: 25px;
    color: white;
    background-color: #224f61;
    border-radius: 10px;
}
.avatar-style{
    height: 60px;
    width: 60px;
    border-radius: 60px;
}
.font-arab{
    font-family: 'Cairo', sans-serif;
   
}